### Examples

| Platform | Mode | Flavor | Example |
| --- | --- | --- | --- |
{{- range .Castings }}
| {{ or .platform "-" }} | {{ or .mode "-" }} | {{ or .flavor "-" }} | [{{ .example }}]({{ .example }}/) |
{{- end }}
